# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Coverage report

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
   

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest
        ython -m pip install --upgrade pip setuptools wheel
        python -m pip install .[dev]
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
   
    - name: Run coverage
      run: |
        pytest --cov-config=.coveragerc --cov=./ci_course --cov-report=xml
        cat coverage.xml
    
    
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with: 
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true
        files: coverage.xml
  
